<h1 align="center">Show Contract details</h1>

<h2 align="center">Client name: <%= @contract.cname %></h2>

<div class="well">
	<h4 class="center description"><strong>Description:</strong></h4>
	<hr>
	
	<!--<p>Lorem ipsum dolor <strong><%= @contract.cname %></strong> sit amet, consectetur adipisicing elit. Dicta, consequatur obcaecati praesentium rem rerum eos tempore quibusdam optio inventore odio quo aut esse adipisci nostrum ipsam voluptas magni officia maiores.-->
	<!--<strong><%= @contract.cname %> <%= @contract.created_at %></strong></p>-->
	
	<section class="row">
			<div class="col-md-12">
				<div class="contract-page well">
					<article>
						<p>March 1, 2007</p>
						<p>Mr. Steve Smithee<br /> President<br /> Smithee &amp; Company<br /> 1010 Main Street<br /> Kansas City, Missouri 64105</p>
						<p>Dear Mr. Smithee:</p>
						<p>The purpose of this letter of agreement is to outline the scope of the writing services that <span class="name"><%= @contract.cname %></span> will perform for Smithee &amp; Company.</p>
						<p>Services to Be Rendered</p>
						<p><span class="name"><%= @contract.cname %></span> agrees to write a four-page brochure describing the engineering services of Smithee &amp; Company. Information for the brochure will be provided, on a timely basis, through existing corporate materials as well as through interviews with Steve Smithee and other appropriate Smithee &amp; Company staff.</p>
						<p>Smithee &amp; Company 1) will provide all photos, charts and other graphics to be included in the brochure, and 2) is responsible for printing and other production costs related to the brochure.</p>
						<p>Fee</p>
						<p>Services will be performed at the rate of $60 per hour. I estimate that this project will take between 25 and 40 hours and cost between $1,500 and $2,400. If fewer than 25 hours are required, Smithee &amp; Company will be charged only for the actual hours <span class="name"><%= @contract.cname %></span> works on the project.</p>
						<p>Additional Costs</p>
						<p>The estimated fee outlined above includes a first draft and one edit of the four-page brochure. Hours for additional edits and/or a longer brochure will be billed at the rate of $60 an hour.</p>
						<p>All hours in excess of the estimated project maximum (40 hours) listed in the Fee section must be approved in writing by Smithee &amp; Company.</p>
						<p>Timeline</p>
						<p><span class="name"><%= @contract.cname %></span> will deliver a first draft of the brochure to Smithee &amp; Company by Wednesday, March 26. The final edited version (including hard copy and a computer disk in Word) will be delivered by Monday, April 2, as long as Smithee &amp; Company staff members are available on a timely basis to discuss changes to the original.</p>
						<p>Terms of Payment</p>
						<p>$750 will be paid to <span class="name"><%= @contract.cname %></span> within five days after the signing of this letter of agreement. Smithee &amp; Company will be billed for the balance at the end of the project (tentatively April 2) and payment in full will be due within 15 days.</p>
						<p>Sincerely,</p>
						<p>Freelancer Name<br /> Freelancer Address<br /> City, State &amp; Zip Code<br /> Phone Number</p>
						<p id="date"><%= @contract.created_at %></p>
						<p>_____________________ <br/> Date</p>
						<h3 class="name signature"><%= @contract.cname %></h3>
						<p>_____________________</p> <p class="name"><%= @contract.cname %></p><p>TechClub Inc.</p>
					</article>
				</div>
			</div>	
		</section>

	</div>

	<div class="article-actions">
			<%= link_to "Delete this contract", contract_path(@contract), method: :delete,
						data: { confirm: "Are you sure you want to delete the Contract?"},
						class: "btn btn-xs btn-danger" %>
			<%= link_to "View all contracts", contracts_path, class: "btn btn-xs btn-success" %>
		
	</div>
</div>